* {
  box-sizing: border-box;
}

nav {
  height: 120px;
  background-color: #4056a1;
  /* background-image: url('../images/background.png'); */
  viewport-fit: 100vw;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-items: flex-end; */
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav span {
  margin-left: 1.5em;
  margin-right: 1.5em;
  /* margin-bottom: 1em; */
}

.main-logo {
  font-family: Bungee;
  font-size: 1.5em;
  display: inline-block;
  margin-top: 1em;
}
.write-new-tweet {
  font-family: Source Sans Pro;
  font-size: 1em;
}
@viewport {
  width: 100vw;
}
.fa-angles-down {
  color: red;
  margin-bottom: 0.25em;
  position: relative;
  animation: arrows 0.425s linear 0.425s infinite alternate;
}
.new-tweet-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

@keyframes arrows {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 3px;
  }
}
